{
     "bind_addr": "{{ ansible_host }}",
     "bootstrap_expect": 3,
     "advertise_addr": "{{ ansible_host }}",
     "server": true,
     "datacenter": "dc1",
     "client_addr": "{{ ansible_host }}",
     "node_name": "{{ inventory_hostname }}",
     "data_dir": "/var/lib/consul",
     "domain": "consul",
     "dns_config": {
         "enable_truncate": true,
         "only_passing": true
     },
     "enable_syslog": true,
     "encrypt": "dww8+u3z+IMIDj1qzMBni4mSgfc9Mtjrx/yVxLfidP0=",
     "leave_on_terminate": true,
     "log_level": "INFO",
     "rejoin_after_leave": true,
     "start_join": [
          {% for host in groups['consul_server'] %}
            "{{ hostvars[host].ansible_host }}"
            {% if not loop.last %},{% endif %}
         {% endfor %}
     ],
     "retry_join": [
         {% for host in groups['consul_server'] %}
            "{{ hostvars[host].ansible_host }}"
            {% if not loop.last %},{% endif %}
         {% endfor %}
     ],
     "ui_config": { "enabled": true }
}